html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {

  margin: 1.5em;
}

ul {

  display: flex;
  margin: 1.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #444;
  color: #ccc;
  flex-direction: column;
  justify-content: flex-start;
}
