html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family:
}

*, *::before, *::after {
  box-sizing: inherit;

}

body {

margin: 1.5rem;

}

ul {

display: flex;
flex-direction: row;
margin: 1.5rem;
flex-wrap: wrap;
align-items: flex-start;
}

img{

justify-content: flex-end;
}
